<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

    <div id = "app">
        <button v-for = "color in colors" v-bind:style="{backgroundColor: color}"
         v-on:click = "addBox(color)"
        
        >
            {{ color }}
        </button>

        <template v-if="boxes.length==0">
            <div>
              No Box
            </div>
        </template>
        
        <template v-else>
            <div v-for="(box,index) in boxes" 
                 v-bind:key="box.id"
                 v-bind:style="{position: 'relative',
                     width: '150px',
                borderStyle: 'solid',
                borderWidth: '1px',
                backgroundColor: box.color}">
                {{ box.id }}.{{ box.color }}
            </div>
        </template>

        


    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                lastId: 0,
                colors: [
                    'red',
                    'green',
                    'blue',
                    'pink',
                    'yellow',
                    'white'

                ],
                selectColor: '',
               boxes: []
            },
            methods: {
                addBox: function(color){
                    this.boxes.push({
                        id: this.lastId++,
                        color: color
                        });
                }
            },


        }); 
    </script>

    
</body>
</html>